<section class="pb-5">
    <div class="container-fluid">
      <h2 class="my-4">List of all Categorys</h2>
      <a  *ngFor="let item of categoryList" (click)="getProductsByCategoryId(item.categoryId)" [ngClass]="selectedCategory == item.categoryId?'btn-primary':'btn-warning'" class="btn me-2 mb-2">{{item.categoryName}}</a>
    </div>
  </section>

  <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

    <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
    
      <div class="col" *ngFor="let item of productList">
        <div class="product-item">
          <span class="badge bg-success position-absolute m-3">-30%</span>
          <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
          <figure>
            <a href="index.html" title="Product Title">
              <img [src]="item.productImageUrl"  class="tab-image">
            </a>
          </figure>
          <h6>{{item.productName | slice:0:10}}</h6>
          <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
          <span class="price">${{item.productPrice}}</span>
          <div class="d-flex align-items-center justify-content-between">
            <div class="input-group product-qty">
                <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                      <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                    </button>
                </span>
                <input type="text" readonly id="quantity" name="quantity" class="form-control input-number" value="1">
                <span class="input-group-btn">
                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                        <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                    </button>
                </span>
            </div>
            <span style="cursor: pointer;"  (click)="ProductDetail(item.productId)" class="badge bg-success">View</span>
            <span style="cursor: pointer;"  (click)="addToCart(item.productId)" class="badge bg-success">Add to Cart</span>
          </div>
        </div>
      </div>
    </div>
    <!-- / product-grid -->
    
  </div>
